#### Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [1]:
def filter_list(l1):
    """This filters out integers only from the list of strings and filters"""
    varl=[]
    for i in range(0,len(l1)):
        if type(l1[i])==int:
            varl.append(l1[i])
    return varl

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [4]:
filter_list(["Nothing", "here"])

[]

#### Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [5]:
def add_indexes(l1):
    """This returns the updated list with each element's index in the list added to itself"""
    for i in range(0,len(l1)):
        l1[i]=i+l1[i]
    return l1

In [6]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [7]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [8]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

#### Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [9]:
import math
def cone_volume(h,r):
    """This returns the volume of the cone rounded to the nearest hundredth"""
    volume=round(math.pi*(r**2)*h/3,2)
    return volume

In [10]:
cone_volume(3, 2)

12.57

In [11]:
cone_volume(15, 6)

565.49

In [12]:
cone_volume(18, 0)

0.0

#### This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [13]:
def triangle(num):
    """This gives the number of dots with its corresponding triangle number of the sequence"""
    num_dots=int(num*(num+1)/2)
    return num_dots

In [14]:
triangle(1)

1

In [15]:
triangle(6)

21

In [16]:
triangle(215)

23220

#### Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [17]:
def missing_num(l1):
    """This returns the missing number"""
    l2=[1,2,3,4,5,6,7,8,9,10]
    for i in l2:
        if i in l1:
            pass
        else:
            return i

In [18]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

### The END