#### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num):
    """This checks whether the number is symmetrical or not."""
    Flag=num
    revnum=0
    
    #Generation of reverse number
    while num>=10:
        revnum=(revnum+num%10)*10
        num=int(num/10)
    if num<10:
        revnum+=num%10
    
    #checking
    if revnum==Flag:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

#### Given a string of numbers separated by a comma and space, return the product of the numbers.

In [7]:
def multiply_nums(str1):
    """This return the product of the numbers,Given a string of numbers separated by a comma and space"""
    mult=1
    l1=str1.split(sep=', ')
    for i in l1:
        mult=mult*int(i)
    return mult

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

#### Create a function that squares every digit of a number.

In [12]:
def square_digits(num):
    """This squares every digit of a number."""
    l1=[]
    square_sum=''
    
    #Generation of list in the reverse order
    while num>=10:
        l1.append((num%10)**2)
        num=int(num/10)
    if num<10:
        l1.append(num**2) 
     
    #concating the numbers in the correct order
    for i in range(len(l1)):
        square_sum+=str(l1[len(l1)-i-1])
        
    return int(square_sum)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

#### Create a function that sorts a list and removes all duplicate items from it.

In [16]:
def setify(l1):
    """This sorts a list and removes all duplicate items from it."""
    l2=[]
    for i in l1:
        if i not in l2:
            l2.append(i)
    return sorted(l2)

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

#### Create a function that returns the mean of all digits.

In [21]:
def mean(num):
    """This returns the mean of all digits."""
    digt_sum=0
    count=0
    
    while num>=10:
        digt_sum+=num%10
        num=int(num/10)
        count+=1
    if num<10:
        digt_sum+=num
        count+=1    
    return int(digt_sum/count)

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6

#### The END